<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>A stock's history</title>
</head>
<body>

<canvas id="myChart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script th:inline="javascript">

    var stocklist = [[${stocklist}]];

    var stockname = [[${stockname}]]
    var stockDate = stocklist.map(getDate);
    var stockPrice = stocklist.map(getPrice);

    function getDate(value) {
        return value.date;
    }

    function getPrice(value) {
        return value.cur;
    }

    function onHover() {
        print('if you love me, say you love me. then you are mine');
    }


    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data:{

            labels: stockDate,
            datasets: [{
                label: stockname + '近两个月指数',
                data: stockPrice,
                backgroundColor: 'rgba(255, 159, 64, 0.2)',
                borderColor: 'rgba(255, 159, 64, 1)',
                borderWidth: 1

            }]

        },
        options: {
            title: {
                display: true,
                text: '各股指近两个月指数变化图'
            },
            scales:{
                yAxes:[{
                    ticks:{
                        beginAtZero: true
                    }
                }]
            },
            responsive: true,
            tooltips:{
                mode: 'nearest',
                intersect: true
            },
            hover: {
                mode: 'nearest',
                intersect: true
            }
        }
    });


</script>
</body>
</html>